body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:583px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u481 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:583px;
}
#u482 {
  position:absolute;
  left:2px;
  top:284px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u483 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:33px;
  text-align:left;
}
#u484 {
  position:absolute;
  left:2px;
  top:8px;
  width:716px;
  word-wrap:break-word;
}
#u485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:120px;
}
#u485 {
  position:absolute;
  left:20px;
  top:53px;
  width:680px;
  height:120px;
}
#u486 {
  position:absolute;
  left:2px;
  top:52px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u487 {
  position:absolute;
  left:23px;
  top:73px;
  width:57px;
  height:16px;
}
#u488 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u489 {
  position:absolute;
  left:90px;
  top:73px;
  width:180px;
  height:22px;
}
#u489_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u489_input:disabled {
  color:grayText;
}
#u490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u490 {
  position:absolute;
  left:797px;
  top:81px;
  width:253px;
  height:64px;
  text-align:left;
}
#u491 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u492 {
  position:absolute;
  left:290px;
  top:203px;
  width:140px;
  height:40px;
}
#u493 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u494 {
  position:absolute;
  left:343px;
  top:118px;
  width:70px;
  height:30px;
}
#u495 {
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u496 {
  position:absolute;
  left:20px;
  top:121px;
  width:57px;
  height:16px;
}
#u497 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u498 {
  position:absolute;
  left:90px;
  top:121px;
  width:180px;
  height:22px;
}
#u498_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u498_input:disabled {
  color:grayText;
}
#u499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u499 {
  position:absolute;
  left:287px;
  top:120px;
  width:25px;
  height:25px;
}
#u500 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u501 {
  position:absolute;
  left:287px;
  top:71px;
  width:25px;
  height:25px;
}
#u502 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
